@(artistTicket: ArtistTicket, variations: Seq[Variation], remainCountOf: Map[Long, Long], stockOf: Map[Long, Map[String, Stock]], seatSeq: Seq[Int])

@main {
	<h2>@{artistTicket.artistName} : @{artistTicket.name}</h2>
	<ul>
		@variations.map { variation =>
			<li class="variation">
				<form method="POST" action="/buy">
					<input type="hidden" name="ticketId" value="@{artistTicket.id}">
					<input type="hidden" name="variationId" value="@{variation.id}">
					<span class="variation_name">@{variation.name}</span> 残り<span class="vacancy" id="vacancy_@{variation.id}">@{remainCountOf.getOrElse(variation.id, 0)}</span>席
					<input type="text" name="memberId" value="">
					<input type="submit" value="購入">
				</form>
			</li>
		}
	</ul>

	<h3>席状況</h3>
	@variations.map { variation =>
		<h4>@{variation.name}</h4>
		<table class="seats" data-variationid="@{variation.id}">
			@seatSeq.map { i =>
				<tr>
					@seatSeq.map { j =>
					@{ val stocks: Map[String, Stock] = stockOf.getOrElse(variation.id, Map()); val key = "%02d".format(i) + "-" + "%02d".format(j); val stock = stocks.get(key); val result = stock match { case None => "available"; case Some(stock) => stock.orderId.getOrElse("available") }; Html("<td id=\"" + key + "\" class=\"" + result + "\"></td>") }
					}
				</tr>
			}
		</table>
	}
}
